.navigation ul {
  padding: 2rem;
  justify-content: column;
  margin-top: 3.25rem;
}
.navigation ul li {
  cursor: pointer;
  font-weight: bold;
  color: rgb(248, 204, 8);
  margin: 0 2rem;
  list-style: none;
}
/* .icon {
  display: none;
} */
